body {
  font-family: 'Roboto', sans-serif;
}
.header {
  height: 65px;
  background-color: #fff;
}
.logo {
  margin-top: 15px;
}
.logo a {
  color: #000;
  font-size: 30px;
  text-decoration: none;
}
.logo a span {
  font-size: 35px;
  font-weight: 900;
}
.menu ul {
  text-align: right;
}
.menu ul li {
  display: inline-block;
  padding: 24px 10px;
}
.menu ul li a {
  color: #000;
  text-align: center;
  text-decoration: none;
}
.menu ul li:hover {
  background-color: #e1e1e1;
}
.fon {
  font-family: 'Roboto', sans-serif;
  background: url('../img/fon.png') no-repeat center;
  height: 550px;
  background-size: cover;
}
.wallpapper h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin: 0;
  margin-top: 150px;
  color: #000;
  font-weight: 900;
}
.wallpapper h2 {
  margin: 10px 0;
  color: #000;
  font-size: 30px;
}
.btn {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 40px;
}
.block {
  margin-top: -25%;
  background-color: #fff;
  border-bottom: 3px solid #51c03d;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.block .foto_b {
  text-align: center;
  color: #000;
  font-size: 20px;
  padding: 20px;
}
p {
  text-align: left;
  padding: 5px;
  font-size: 14px;
  color: #a1a1a1;
}
